.footer {
  border-radius: calc(20 * var(--width-multiplier)) calc(20 * var(--width-multiplier)) 0 0;
  color: var(--white, $white);
  background-color: var(--blue, $blue);
  &__wrap {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: calc(8 * var(--width-multiplier));
    padding-top: calc(32 * var(--width-multiplier));
    padding-bottom: calc(32 * var(--width-multiplier));
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: calc(32 * var(--width-multiplier));
    }
  }
  &__logo {
    display: block;
    width: calc(140 * var(--width-multiplier));
    height: calc(42 * var(--width-multiplier));
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: calc(8 * var(--width-multiplier));
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      gap: calc(24 * var(--width-multiplier));
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex: 0 1 calc(200 * var(--width-multiplier));
    }
  }
  &__caption {
    margin-bottom: calc(24 * var(--width-multiplier));
    font-weight: 600;
    line-height: 1;
    @media (max-width: 767px) {
      margin-bottom: calc(16 * var(--width-multiplier));
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    gap: calc(12 * var(--width-multiplier));
    font-size: calc(14 * var(--width-multiplier));
    line-height: 1;
    a {
      position: relative;
      display: block;
      width: max-content;
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--white, $white);
        transition: width 0.3s ease-out;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: calc(16 * var(--width-multiplier));
    margin-bottom: calc(24 * var(--width-multiplier));
    font-size: calc(14 * var(--width-multiplier));
    line-height: 1;
    a {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--white, $white);
        transition: width 0.3s ease-out;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    gap: calc(12 * var(--width-multiplier));
    svg {
      display: block;
      min-width: calc(16 * var(--width-multiplier));
      width: calc(16 * var(--width-multiplier));
      height: calc(16 * var(--width-multiplier));
      pointer-events: none;
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: calc(12 * var(--width-multiplier));
    margin-top: auto;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(36 * var(--width-multiplier));
      height: calc(36 * var(--width-multiplier));
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      transition: transform 0.3s ease-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    svg {
      display: block;
      width: calc(20 * var(--width-multiplier));
      height: calc(20 * var(--width-multiplier));
      pointer-events: none;
    }
  }
  &__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(8 * var(--width-multiplier));
    padding: calc(16 * var(--width-multiplier)) 0;
    font-size: calc(14 * var(--width-multiplier));
    line-height: 1;
    a {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--white, $white);
        transition: width 0.3s ease-out;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}