.header {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: calc(12 * var(--width-multiplier));
  z-index: 99;
  @media (max-width: 1024px) {
    padding: 0;
    background-color: var(--blue, $blue);
  }
  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: calc(84 * var(--width-multiplier));
    padding: 0 calc(24 * var(--width-multiplier));
    color: var(--white, $white);
    @media (max-width: 1024px) {
      align-items: center;
      gap: calc(10 * var(--width-multiplier));
      min-height: unset;
      padding: calc(16 * var(--width-multiplier)) 0;
    }
  }
  &__nav {
    &.open {
      left: 0;
    }
    @media (max-width: 1024px) {
      position: absolute;
      top: 100%;
      left: -100%;
      display: flex;
      flex-direction: column;
      width: max-content;
      height: calc(100svh - calc(76 * var(--width-multiplier)));
      padding: calc(24 * var(--width-multiplier)) calc(20 * var(--width-multiplier));
      color: var(--white, $white);
      background-color: var(--blue, $blue);
      transition: left 0.3s ease-out;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: calc(24 * var(--width-multiplier));
    li {
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
    a {
      @media (max-width: 1024px) {
        display: block;
        width: 100%;
        padding: calc(12 * var(--width-multiplier)) calc(16 * var(--width-multiplier));
      }
    }
    .dd-panel {
      @media (max-width: 1024px) {
        position: static;
        padding-top: 0;
        transform: unset;
        max-height: 0;
        transition: opacity .18s ease, transform .18s ease, max-height 0.3s ease-out;
      }
    }
    .dd {
      .header__link {
        position: relative;
        &::after {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: calc(20 * var(--width-multiplier));
          height: calc(20 * var(--width-multiplier));
          background: url(../img/menu-icon.svg) center / contain no-repeat;
          transition: transform 0.3s ease-out;
          @media (max-width: 1024px) {
            content: '';
          }
        }
      }
    }
    .dd.is-open > .dd-panel {
      max-height: 1000px;
      opacity: 1;
    }
    .dd.is-open > .header__link {
      &::after {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
    .dd-panel-inner {
      @media (max-width: 1024px) {
        gap: calc(12 * var(--width-multiplier));
        min-width: unset;
        padding: 0;
        border-radius: 0;
        color: var(--white);
        background: transparent;
        box-shadow: unset;
        backdrop-filter: unset;
      }
    }
    .dd-item {
      @media (max-width: 1024px) {
        padding: calc(4 * var(--width-multiplier));
        padding-left: calc(32 * var(--width-multiplier));
        color: rgba(255, 255, 255, 0.8);
        font-size: calc(12 * var(--width-multiplier));
        &:hover {
            color: var(--yellow, #F0B323);
            background-color: transparent;
        }
      }
    }
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
  }
  &__link {
    transition: color 0.3s ease-out;
    &:hover {
      color: var(--yellow, $yellow);
    }
    @media (max-width: 1024px) {
      font-weight: 600;
    }
  }
  &__submenu {
    display: flex;
    flex-direction: column;
    gap: calc(8 * var(--width-multiplier));
  }
  &__logo {
    position: absolute;
    top: calc(12 * var(--width-multiplier));
    left: 50%;
    transform: translateX(-50%);
    svg {
      position: absolute;
      bottom: calc(-8 * var(--width-multiplier));
      left: 50%;
      transform: translateX(-50%);
      width: calc(116 * var(--width-multiplier));
      height: calc(91 * var(--width-multiplier));
      pointer-events: none;
      @media (max-width: 1024px) {
        display: none;
      }
    }
    img {
      position: relative;
      width: calc(74 * var(--width-multiplier));
      height: calc(72 * var(--width-multiplier));
      object-fit: contain;
      z-index: 1;
      @media (max-width: 1024px) {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    @media (max-width: 1024px) {
      position: static;
      transform: unset;
      width: calc(100 * var(--width-multiplier));
      height: calc(30 * var(--width-multiplier));
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: calc(24 * var(--width-multiplier));
    @media (max-width: 1024px) {
      margin-left: auto;
    }
  }
  &__contacts {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &__lang {
    @media (max-width: 1024px) {
      display: none;
    }
    &_mb {
      display: none;
      .lang-pill {
        padding: 0;
        border-radius: 0;
        background: transparent;
      }
      .caret {
        @media (max-width: 1024px) {
          display: none;
        }
      }
      .dd-panel-inner {
        @media (max-width: 1024px) {
          padding: calc(4 * var(--width-multiplier));
          border-radius: calc(10 * var(--width-multiplier));
        }
      }
      .dd-item {
        @media (max-width: 1024px) {
          padding: calc(8 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
          border-radius: calc(4 * var(--width-multiplier));
        }
      }
      @media (max-width: 1024px) {
        display: block;
      }
    }
  }
  &__footer {
    display: none !important;
    @media (max-width: 1024px) {
      display: block !important;
      margin-top: auto;
      padding-top: calc(12 * var(--width-multiplier));
      border-top: 1px solid #E5E7EB;
    }
  }
  &__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(44 * var(--width-multiplier));
    height: calc(44 * var(--width-multiplier));
    padding: calc(12 * var(--width-multiplier)) calc(10 * var(--width-multiplier));
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1;
    span {
      pointer-events: none;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: var(--white, $white);
      transition: 0.3s ease;
    }
    &.active {
      justify-content: center;

      span {
        width: 110%;
      }

      span:nth-child(1) {
        transform: rotate(45deg) translateY(2px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translateY(-3px) translateX(1px);
      }
    }
    @media(min-width: 1025px) {
      display: none;
    }
  }
  &.light {
    .lang-pill {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.dd { 
  position:relative; 
}

.dd-panel {
  position: absolute;
  top: 100%;
  padding-top: calc(8 * var(--width-multiplier));
  opacity: 0;
  transform: translateY(calc(-6 * var(--width-multiplier)));
  pointer-events: none;
  transition: opacity .18s ease, transform .18s ease;
}

.dd-panel-inner {
  min-width: calc(320 * var(--width-multiplier));
  padding: calc(24 * var(--width-multiplier));
  border-radius: calc(20 * var(--width-multiplier));
  color: var(--dark, $dark);
  background: var(--white, $white);
  box-shadow: 0px 8px 10px -6px #0000001A;
  box-shadow: 0px 20px 25px -5px #0000001A;
  backdrop-filter: blur(12px);
}

.dd.is-open > .dd-panel {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dd-panel--left { 
  left:0; 
}

.dd-panel--right{
  right:0;
  .dd-panel-inner {
    min-width: calc(144 * var(--width-multiplier));
    @media (max-width: 1024px) {
      min-width: unset;
    }
  }
}

.dd-item {
  display: block;
  padding:
    calc(10 * var(--width-multiplier))
    calc(16 * var(--width-multiplier));
  border-radius: calc(10 * var(--width-multiplier));
  text-decoration: none;
  transition: color 0.2s ease, background-color 0.2s ease;
  &:hover {
    color: var(--white, $white);
    background-color: var(--yellow, $yellow);
  }
}

// Header Contacts

.action-link {
  display: flex;
  align-items: center;
  gap: calc(8 * var(--width-multiplier));
  padding: calc(8 * var(--width-multiplier)) calc(16 * var(--width-multiplier));
  padding-left: calc(24 * var(--width-multiplier));
  border: 0;
  color: var(--white, $white);
  background-color: transparent;
  svg {
    display: block;
    width: calc(24 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.dd-panel--contacts {
  top: calc(-24 * var(--width-multiplier));
  padding-top: 0;
  transform: translateY(0);
  z-index: 1;
  .dd-panel-inner {
    min-width: calc(305 * var(--width-multiplier));
    max-width: calc(305 * var(--width-multiplier));
    padding-top: calc(32 * var(--width-multiplier));
    border-radius: 0 0 calc(20 * var(--width-multiplier)) calc(20 * var(--width-multiplier));
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: calc(16 * var(--width-multiplier));
  &__phones {
    display: flex;
    flex-direction: column;
    gap: calc(16 * var(--width-multiplier));
    a {
      transition: color 0.3s ease-out;
      &:hover {
        color: var(--yellow, $yellow);
      }
    }
  }
  &__phone {
    font-weight: 500;
  }
  &__hint {
    color: rgba(0, 0, 0, 0.6);
    font-size: calc(12 * var(--width-multiplier));
  }
  &__btn {
    width: 100%;
    span {
      width: 100%;
      padding: calc(8 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
      text-align: center;
    }
  }
  &__group {
    padding-top: calc(16 * var(--width-multiplier));
    border-top: 1px solid #E5E7EB;
  }
  &__group, &__meta {
    display: flex;
    flex-direction: column;
    gap: calc(12 * var(--width-multiplier));  
  }
  &__meta {
    a {
      transition: color 0.3s ease-out;
      &:hover {
        color: var(--yellow, $yellow);
      }
    }
  }
  &__social {
    display: flex;
    align-items: center;
    gap: calc(12 * var(--width-multiplier));
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(36 * var(--width-multiplier));
      height: calc(36 * var(--width-multiplier));
      border-radius: 100%;
      background-color: #F8F9FB;
      transition: transform 0.3s ease-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    svg {
      display: block;
      width: calc(20 * var(--width-multiplier));
      height: calc(20 * var(--width-multiplier));
      pointer-events: none;
    }
  }
}

// Header Lang

.lang-pill {
  display: flex;
  align-items: center;
  gap: calc(8 * var(--width-multiplier));
  padding: calc(8 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
  border: 0;
  border-radius: calc(200 * var(--width-multiplier));
  color: var(--white, $white);
  background-color: var(--blue, $blue);
  svg {
    display: block;
    width: calc(24 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.dd-panel--lang {
  .dd-panel-inner {
    padding: calc(12 * var(--width-multiplier));
  }
}